[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
crispy-forms = "*"
django-crispy-forms = "*"
django-widget-tweaks = "*"
requests = "*"
environ = "*"

[requires]
python_version = "3.7"
