.jumbotron {
  background-color: #233846;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 51rem;
}

.key_spacing{
  letter-spacing: 1px;
}

.title_font_color{
  color: #741ebb;
  
}