{% extends 'corelib\base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container mt-5">
       <h2 class="text-info font-weight-bolder text-uppercase">Sign Up</h2>
       <hr/>
       <form class="border p-4 font-weight-bold" method="POST">
           {% csrf_token %}
           
           {% if form.non_field_errors %}
             <div class="alert alert-danger">{{ form.non_field_errors }}</div>
           {% endif %}
             
           {% load widget_tweaks %}

           {% for field in form  %}
           <div class="form-group {% if field.errors %} alert alert-danger {% endif %}">
             {{field.errors}}
             {{field.label_tag}}
             {% render_field field class="form-control"%}
             {% if field.help_text %}
             <small class="text-muted">{{ field.help_text|safe }}</small>
           {% endif %}
           </div>  
           
           {% endfor %}
           <button type="submit" class="btn btn-primary font-weight-bold">Sign Up</button>
       </form>
  </div>
{% endblock content %}