{% extends "corelib/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="mt-5 shadow container">
  <div class="pt-2 pb-2 container">
    <h2 class="pt-4 text-uppercase text-center key_spacing title_font_color font-weight-bolder">Create Video Library</h2>
    <hr>
  <form action="" method="POST" class=" p-2 pt-2 mt-4 font-weight-bold">
      {% csrf_token %}
      {% load widget_tweaks %}

      {% for field in form  %}
      <div class="form-group {% if field.errors %} alert alert-danger {% endif %}">
        {{field.errors}}
        {{field.label_tag}}
        {% render_field field class="form-control"%}
      </div>  
      
      {% endfor %}
      <button type="submit" class="btn btn-primary mt-4">Create</button>
  </form>
</div>
</div>
  
{% endblock content %}